@import "./src/styles/mixins/adaptive";

.main {
  display: grid;

  height: 45px;
  column-gap: 10px;
  grid-template-areas: "logo title right";
  grid-template-columns: auto 1fr auto;

  border-bottom: 1px solid black;

  .logoPlace {
    display: grid;
    align-items: center;

    max-width: 200px;
    margin-left: 10px;
    grid-area: logo;
    grid-template-columns: minmax(100px, 1fr);
  }

  .titlePlace {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: title;
  }

  .rightPlace {
    display: grid;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    column-gap: 10px;
    grid-area: right;
    grid-template-columns: minmax(1fr, 200px);

    a {
      text-decoration: underline darkgray;

      font-size: 16px;
    }
  }

  @include adaptive("mini") {
    grid-template-areas:
      "logo"
      "title"
      "right";
  }
}
