.main {
  margin: auto;

  .title {
    margin-bottom: 10px;

    text-align: center;

    color: black;
  }

  .content {
    display: grid;

    padding: 15px;

    border: 2px solid black;
    column-gap: 0;
    row-gap: 0;
  }
}
