.main {
  margin: auto;

  .title {
    margin-bottom: 10px;

    text-align: center;

    color: black;
  }

  .content {
    .externalWall {
      margin: 20px;
      padding: 0;

      border: 2px solid black;

      .floor {
        display: grid;

        padding: 0;
        column-gap: 0;
        row-gap: 0;
      }
    }
  }
}
