.main {
  position: relative;
  border: 1px dashed lightgrey;
  .title {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 10px;
    text-align: center;
  }

  .covering {
    height: 100%;
    width: 100%;
    background: #c3f6fc;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
