.main {
  margin: auto;
  .title {
    color: black;
    margin-bottom: 10px;
    text-align: center;
  }
  .content {
    border: 1px solid black;
    display: grid;
    padding: 15px;
    column-gap: 0;
  }
}
