@import "./src/styles/mixins/adaptive";

.main {
  display: grid;
  height: 20px;
  border: 1px solid black;
  column-gap: 0;
  grid-template-areas: "left center right";
  grid-template-columns: auto 1fr auto;

  .leftPlace {
    display: grid;
    max-width: 200px;
    align-items: center;
    grid-area: left;
    grid-template-columns: minmax(100px, 1fr);
    padding: 0 10px;
  }

  .centerPlace {
    padding: 0 10px;
    display: grid;
    border-right: 1px solid black;
    align-items: center;
    grid-area: center;
    border-left: 1px solid black;
  }

  .rightPlace {
    padding: 0 10px;
    display: grid;
    justify-content: end;
    column-gap: 10px;
    grid-area: right;
    grid-template-columns: minmax(1fr, 200px);
    max-width: 100px;
  }
}
