@import "./src/styles/mixins/adaptive";

.main {
  display: grid;

  height: 20px;

  border: 1px solid black;
  column-gap: 0;
  grid-template-areas: "left center right";
  grid-template-columns: auto 1fr auto;

  .leftPlace {
    display: grid;
    align-items: center;

    max-width: 200px;
    padding: 0 10px;
    grid-area: left;
    grid-template-columns: minmax(100px, 1fr);
  }

  .centerPlace {
    display: grid;
    align-items: center;

    padding: 0 10px;

    border-right: 1px solid black;
    border-left: 1px solid black;
    grid-area: center;
  }

  .rightPlace {
    display: grid;
    justify-content: end;

    max-width: 100px;
    padding: 0 10px;
    column-gap: 10px;
    grid-area: right;
    grid-template-columns: minmax(1fr, 200px);
  }
}
