@import "./src/styles/mixins/adaptive";

.main {
  display: grid;
  align-items: center;
  justify-content: center;

  .floorArea {
    margin-left: 20px;
  }

  .list {
    display: grid;
    align-items: center;

    width: 100vw;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
