.mainWrapper {
  display: grid;

  height: 100vh;
  padding: 0;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: auto;

  .header {
    grid-area: header;
  }

  .content {
    overflow: auto;
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }
}
